ion-content {
  --background: none; /* Elimina el fondo predeterminado de Ionic */
  background: linear-gradient(180deg, #ffffff, #0043c0); /* Degradado de coral a azul */
}
img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 20%; /* Asegura que el contenedor ocupe toda la pantalla */
  position: absolute;
  top: 40%;
  bottom: 0;
  padding-left: 120px;
}
