<ion-content>
  <!-- <app-header></app-header>
  <ion-button [routerLink]="['/asignatura']" >Pasar asistencia</ion-button>Cambiar el routerlink haciia la asignatura, luego dentro el boton poner el listado de asignaturas
  <app-footer></app-footer> -->


  <app-header></app-header>

  <ion-list class="list">
    <ion-item *ngFor="let asignatura of asignaturas">
      <div class="asignatura-container">
        <div class="asignatura-nombre">
          {{ asignatura.nombre}} - {{asignatura.id}}
        </div>
      </div>
      <ion-button  class="qrbutton" fill="outline" size="small"(click)="generarQR(asignatura.id)">Generar Qr</ion-button>

    </ion-item>
  </ion-list>

  <app-footer></app-footer>



</ion-content>
